body {
    background-color: #232323;
    margin: 0;
    font-family: 'Avenir';
}

h1{
    color: white;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    background: steelblue;
    margin: 0;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 10%;
}

#container {
    margin: 0px ;
    max-width: 600px;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
}

.selected {
    background: blue;

}